# Firebase - Proyecto DIVA
VITE_FIREBASE_API_KEY=AIzaSyBAzopMgOVnXxkOmUFH1bJZVOD8z6gSc6Q
VITE_FIREBASE_AUTH_DOMAIN=matches-2c95b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=matches-2c95b
VITE_FIREBASE_STORAGE_BUCKET=matches-2c95b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=745911716594
VITE_FIREBASE_APP_ID=1:745911716594:web:44b12ccce081b2d16cde6b

# Mercado Pago (en Vercel va como variable de entorno del servidor, no VITE_)
MP_ACCESS_TOKEN=APP_USR-1181951838081649-062512-59786fd9d50dd3af7eac75d8b77a0065-3498511686
VITE_MP_PUBLIC_KEY=APP_USR-1b266b24-4b30-4a9f-b30c-af7a6d6fa4a7

# URL base de la app (cambiar por el dominio real al deployar)
VITE_APP_URL=http://localhost:5173
